@font-face {
    font-family: 'VelaSans';
    src: url('VelaSans-ExtraBold.woff2') format('woff2'),
    url('VelaSans-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VelaSans';
    src: url('VelaSans-Bold.woff2') format('woff2'),
        url('VelaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VelaSans';
    src: url('VelaSans-Medium.woff2') format('woff2'),
        url('VelaSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VelaSans';
    src: url('VelaSans-Regular.woff2') format('woff2'),
        url('VelaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'VelaSans';
    src: url('VelaSans-Semibold.woff2') format('woff2'),
        url('VelaSans-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

